* {
  margin-bottom: 10;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

div {
  outline: 5px solid rgb(101, 90, 177);
}

p {
  color: darkgoldenrod;
}

h4 {
  color: blueviolet;
  margin: 35px 0px 0px 7px;
}

h2 {
  text-transform: uppercase;
  color: sienna;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
  width: 90%;
  height: auto;
}

.DogTab1 {
  background-color: gainsboro;
  color: black;
  width: 30%;
  padding: 5%;
  border: 1px solid black;
  margin: 0px 2px 10px;
  padding: 1em;
  text-align: center;
}

.SpiderTab1 {
  background-color: papayawhip;
  color: gray;
  width: 30%;
  padding: 5%;
  border: 1px solid black;
  margin: 0px 2px 10px;
  text-align: center;
}

.DogTab2 {
  background-color: lightskyblue;
  color: white;
  width: 30%;
  padding: 5%;
  border: 1px solid black;
  margin: 0px 2px 10px;
  padding: 1em;
  text-align: center;
}

.sour {
  margin-bottom: 100%;
}

.tab1 {
  background-color: bisque;
  color: gray;
  width: 30%;
  padding: 5%;
  border: 1px solid black;
  margin: 0px 2px 10px;
  padding: 1em;
  text-align: center;
}

.circle {
  margin: 3rem auto;
  background-color: rgb(236, 206, 169);
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50px;
  outline: 2px solid black;
  outline-offset: .5rem;
}

.rowthing {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  font-style: italic;
}